In [7]:
import pandas as pd

df = pd.read_json('/Users/loic.doerr/dev/ny-emergency-ai/rawData/fire-incidents/interims.json')

df.head()

,starfire_incident_id,incident_datetime,alarm_box_borough,alarm_box_number,alarm_box_location,incident_borough,zipcode,policeprecinct,citycouncildistrict,communitydistrict,...,first_activation_datetime,incident_close_datetime,valid_dispatch_rspns_time_indc,valid_incident_rspns_time_indc,incident_response_seconds_qy,incident_travel_tm_seconds_qy,engines_assigned_quantity,ladders_assigned_quantity,other_units_assigned_quantity,first_on_scene_datetime
0,2100404460110002,2021-01-04T00:01:00.000,MANHATTAN,446,3 AVE & ST. MARKS PL,MANHATTAN,10003.0,9.0,2.0,103.0,...,2021-01-04T00:02:00.000,2021-01-04T00:07:00.000,N,N,0.0,0.0,1,0,0,NaN
1,2100433250140001,2021-01-04T00:01:00.000,BROOKLYN,3325,AVENUE O & E 13 ST,BROOKLYN,11230.0,70.0,48.0,314.0,...,2021-01-04T00:02:00.000,2021-01-04T00:32:00.000,N,Y,170.0,165.0,1,0,0,2021-01-04T00:04:00.000
2,2100411280150003,2021-01-04T00:01:00.000,QUEENS,1128,MOTT AVE & DICKENS ST,QUEENS,11691.0,101.0,31.0,414.0,...,2021-01-04T00:02:00.000,2021-01-04T00:05:00.000,N,N,0.0,0.0,1,0,0,NaN
3,2100416590110004,2021-01-04T00:02:00.000,MANHATTAN,1659,BROADWAY & 153 ST,MANHATTAN,10031.0,30.0,7.0,109.0,...,2021-01-04T00:02:00.000,2021-01-04T00:31:00.000,N,Y,318.0,314.0,1,0,0,2021-01-04T00:07:00.000
4,2100413490110006,2021-01-04T00:02:00.000,MANHATTAN,1349,5 AVE & 112 ST,MANHATTAN,10026.0,28.0,9.0,110.0,...,2021-01-04T00:03:00.000,2021-01-04T00:18:00.000,N,Y,871.0,834.0,1,0,0,2021-01-04T00:17:00.000

In [8]:
df = df[['alarm_box_location', 'alarm_box_borough', 'incident_classification', 'incident_classification_group']]

df.head()

,alarm_box_location,alarm_box_borough,incident_classification,incident_classification_group
0,3 AVE & ST. MARKS PL,MANHATTAN,Medical - PD Link 10-91,Medical Emergencies
1,AVENUE O & E 13 ST,BROOKLYN,Medical - Breathing / Ill or Sick,Medical Emergencies
2,MOTT AVE & DICKENS ST,QUEENS,Medical - EMS Link 10-91,Medical Emergencies
3,BROADWAY & 153 ST,MANHATTAN,Medical - Serious Life Threatening,Medical Emergencies
4,5 AVE & 112 ST,MANHATTAN,Medical - Breathing / Ill or Sick,Medical Emergencies

In [9]:
box_locations = pd.read_csv('/Users/loic.doerr/dev/ny-emergency-ai/rawData/locations/In-Service_Alarm_Box_Locations_20240605.csv')

box_locations = box_locations[['LOCATION', 'LATITUDE', 'LONGITUDE']]

box_locations = box_locations.rename(columns={'LOCATION': 'alarm_box_location', 'LATITUDE': 'alarm_box_latitude', 'LONGITUDE': 'alarm_box_longtitude'})

box_locations.head()

            alarm_box_location  alarm_box_latitude  alarm_box_longtitude
0                3 AVE & 65 ST           40.639320            -74.023549
1         WOODSIDE AVE & 69 ST           40.742686            -73.895652
2     MYRTLE AVE & PALMETTO ST           40.699532            -73.911035
3  NEW YORK AVE & LEFFERTS AVE           40.662534            -73.947914
4          RIVER & NORTH 3 STS           40.718376            -73.964621

In [10]:
df = df.merge(box_locations, on='alarm_box_location', how='left')

df.head()

,alarm_box_location,alarm_box_borough,incident_classification,incident_classification_group,alarm_box_latitude,alarm_box_longtitude
0,3 AVE & ST. MARKS PL,MANHATTAN,Medical - PD Link 10-91,Medical Emergencies,NaN,NaN
1,AVENUE O & E 13 ST,BROOKLYN,Medical - Breathing / Ill or Sick,Medical Emergencies,40.612758,-73.960921
2,MOTT AVE & DICKENS ST,QUEENS,Medical - EMS Link 10-91,Medical Emergencies,40.606459,-73.760970
3,BROADWAY & 153 ST,MANHATTAN,Medical - Serious Life Threatening,Medical Emergencies,NaN,NaN
4,5 AVE & 112 ST,MANHATTAN,Medical - Breathing / Ill or Sick,Medical Emergencies,NaN,NaN

In [11]:
df = df.dropna()

df.head()

,alarm_box_location,alarm_box_borough,incident_classification,incident_classification_group,alarm_box_latitude,alarm_box_longtitude
1,AVENUE O & E 13 ST,BROOKLYN,Medical - Breathing / Ill or Sick,Medical Emergencies,40.612758,-73.960921
2,MOTT AVE & DICKENS ST,QUEENS,Medical - EMS Link 10-91,Medical Emergencies,40.606459,-73.760970
6,B'WAY & BAXTER AVE,QUEENS,Utility Emergency - Gas,NonMedical Emergencies,40.744023,-73.884923
8,BAY & BROAD STS,RICHMOND / STATEN ISLAND,Medical - No PT Contact EMS is Onscene,Medical Emergencies,40.625603,-74.075030
9,NEW JERSEY AVE & FULTON ST,BROOKLYN,Automobile Fire,NonStructural Fires,40.677358,-73.896218

In [12]:
df.to_csv('../preparedData/incidents.csv')